################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs
/src/PixChallenge_Api/bin/Debug/net6.0
/src/PixChallenge_Api/obj
/src/PixChallenge_Core/bin/Debug/net6.0
/src/PixChallenge_Core/obj
/src/PixChallenge_Data/bin/Debug/net6.0
/src/PixChallenge_Data/obj
/src/PixChallenge_Ioc/bin/Debug/net6.0
/src/PixChallenge_Ioc/obj
/src/PixChallenge_Service/bin/Debug/net6.0
/src/PixChallenge_Service/obj
/Tests/PixChallenge_Test/bin/Debug/net6.0
/Tests/PixChallenge_Test/obj/Debug/net6.0
/Tests/PixChallenge_Test/obj
/src/PixChallenge_Rules/bin/Debug/net6.0
/src/PixChallenge_Rules/obj/Debug/net6.0
/src/PixChallenge_Rules/obj
/src/PixChallenge_Service/obj/Debug/net6.0/PixChallenge_Application.csproj.FileListAbsolute.txt
